* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @include flex(auto, column, wrap);
    background-color: $red;
    min-height: 100vh;
}