.header {
    &__nav {
        @include flex(auto, row, wrap);
        background-color: $rosewater;
        min-height: 2rem;
    }

    &__section {
        @include flex(auto, row, wrap);
        align-items: center;
        justify-content: center;
        gap: 1rem;

        label {
            color: $black0;
            &:hover {
                cursor: pointer;
                color: $red;
            }
            &:active {
                color: $green
            }
        }
    }

    &__a--logo {
        color: $blue;
    }
}

input[type="radio"] {
	display: none;
}